.inner.ACCRINGTON {
stroke: grey;
}
circle.ACCRINGTON {
fill: grey;
}
.inner.AFCWIMBLEDON {
stroke: grey;
}
circle.AFCWIMBLEDON {
fill: grey;
}
.inner.ALDERSHOT {
stroke: grey;
}
circle.ALDERSHOT {
fill: grey;
}
.inner.ARSENAL {
stroke: #A80707;
}
circle.ARSENAL {
fill: #A80707;
}
.inner.ASTONVILLA {
stroke: #670032;
}
circle.ASTONVILLA {
fill: #670032;
}
.inner.BARNET {
stroke: grey;
}
circle.BARNET {
fill: grey;
}
.inner.BARNSLEY {
stroke: #E9071A;
}
circle.BARNSLEY {
fill: #E9071A;
}
.inner.BIRMINGHAM {
stroke: #0079CF;
}
circle.BIRMINGHAM {
fill: #0079CF;
}
.inner.BLACKBURN {
stroke: #0066cc;
}
circle.BLACKBURN {
fill: #0066cc;
}
.inner.BLACKPOOL {
stroke: #FF6501;
}
circle.BLACKPOOL {
fill: #FF6501;
}
.inner.BOLTON {
stroke: #002868;
}
circle.BOLTON {
fill: #002868;
}
.inner.BOSTON {
stroke: grey;
}
circle.BOSTON {
fill: grey;
}
.inner.BOURNEMOUTH {
stroke: grey;
}
circle.BOURNEMOUTH {
fill: grey;
}
.inner.BRADFORD {
stroke: #752641;
}
circle.BRADFORD {
fill: #752641;
}
.inner.BRENTFORD {
stroke: grey;
}
circle.BRENTFORD {
fill: grey;
}
.inner.BRIGHTON {
stroke: grey;
}
circle.BRIGHTON {
fill: grey;
}
.inner.BRISTOLCITY {
stroke: grey;
}
circle.BRISTOLCITY {
fill: grey;
}
.inner.BRISTOLRVS {
stroke: grey;
}
circle.BRISTOLRVS {
fill: grey;
}
.inner.BURNLEY {
stroke: #70193D;
}
circle.BURNLEY {
fill: #70193D;
}
.inner.BURTON {
stroke: grey;
}
circle.BURTON {
fill: grey;
}
.inner.BURY {
stroke: grey;
}
circle.BURY {
fill: grey;
}
.inner.CAMBRIDGE {
stroke: grey;
}
circle.CAMBRIDGE {
fill: grey;
}
.inner.CARDIFF {
stroke: grey;
}
circle.CARDIFF {
fill: grey;
}
.inner.CARLISLE {
stroke: grey;
}
circle.CARLISLE {
fill: grey;
}
.inner.CHARLTON {
stroke: #bb262c;
}
circle.CHARLTON {
fill: #bb262c;
}
.inner.CHELSEA {
stroke: #374ADB;
}
circle.CHELSEA {
fill: #374ADB;
}
.inner.CHELTENHAM {
stroke: grey;
}
circle.CHELTENHAM {
fill: grey;
}
.inner.CHESTER {
stroke: grey;
}
circle.CHESTER {
fill: grey;
}
.inner.CHESTERFIELD {
stroke: grey;
}
circle.CHESTERFIELD {
fill: grey;
}
.inner.COLCHESTER {
stroke: grey;
}
circle.COLCHESTER {
fill: grey;
}
.inner.COVENTRY {
stroke: #60afdd;
}
circle.COVENTRY {
fill: #60afdd;
}
.inner.CRAWLEYTOWN {
stroke: grey;
}
circle.CRAWLEYTOWN {
fill: grey;
}
.inner.CREWE {
stroke: grey;
}
circle.CREWE {
fill: grey;
}
.inner.CRYSTALPALACE {
stroke: #D81E05;
}
circle.CRYSTALPALACE {
fill: #D81E05;
}
.inner.DAGANDRED {
stroke: grey;
}
circle.DAGANDRED {
fill: grey;
}
.inner.DARLINGTON {
stroke: grey;
}
circle.DARLINGTON {
fill: grey;
}
.inner.DERBY {
stroke: #000000;
}
circle.DERBY {
fill: #000000;
}
.inner.DONCASTER {
stroke: grey;
}
circle.DONCASTER {
fill: grey;
}
.inner.EVERTON {
stroke: #003399;
}
circle.EVERTON {
fill: #003399;
}
.inner.EXETER {
stroke: grey;
}
circle.EXETER {
fill: grey;
}
.inner.FLEETWOODTOWN {
stroke: grey;
}
circle.FLEETWOODTOWN {
fill: grey;
}
.inner.FULHAM {
stroke: #0F1724;
}
circle.FULHAM {
fill: #0F1724;
}
.inner.GILLINGHAM {
stroke: grey;
}
circle.GILLINGHAM {
fill: grey;
}
.inner.GRIMSBY {
stroke: grey;
}
circle.GRIMSBY {
fill: grey;
}
.inner.HALIFAX {
stroke: grey;
}
circle.HALIFAX {
fill: grey;
}
.inner.HARTLEPOOL {
stroke: grey;
}
circle.HARTLEPOOL {
fill: grey;
}
.inner.HEREFORD {
stroke: grey;
}
circle.HEREFORD {
fill: grey;
}
.inner.HUDDERSFIELD {
stroke: grey;
}
circle.HUDDERSFIELD {
fill: grey;
}
.inner.HULL {
stroke: #000000;
}
circle.HULL {
fill: #000000;
}
.inner.IPSWICH {
stroke: #0066b3;
}
circle.IPSWICH {
fill: #0066b3;
}
.inner.KIDDERMINSTER {
stroke: grey;
}
circle.KIDDERMINSTER {
fill: grey;
}
.inner.LEEDS {
stroke: #1c3984;
}
circle.LEEDS {
fill: #1c3984;
}
.inner.LEICESTER {
stroke: #273E8A;
}
circle.LEICESTER {
fill: #273E8A;
}
.inner.LEYTONORIENT {
stroke: grey;
}
circle.LEYTONORIENT {
fill: grey;
}
.inner.LINCOLN {
stroke: grey;
}
circle.LINCOLN {
fill: grey;
}
.inner.LIVERPOOL {
stroke: #D90B0B;
}
circle.LIVERPOOL {
fill: #D90B0B;
}
.inner.LUTON {
stroke: grey;
}
circle.LUTON {
fill: grey;
}
.inner.MACCLESFIELD {
stroke: grey;
}
circle.MACCLESFIELD {
fill: grey;
}
.inner.MANCITY {
stroke: #6EAADB;
}
circle.MANCITY {
fill: #6EAADB;
}
.inner.MANSFIELD {
stroke: grey;
}
circle.MANSFIELD {
fill: grey;
}
.inner.MANUNITED {
stroke: red;
}
circle.MANUNITED {
fill: red;
}
.inner.MIDDLESBROUGH {
stroke: #DB282B;
}
circle.MIDDLESBROUGH {
fill: #DB282B;
}
.inner.MILLWALL {
stroke: grey;
}
circle.MILLWALL {
fill: grey;
}
.inner.MILTONKEYNESDONS {
stroke: grey;
}
circle.MILTONKEYNESDONS {
fill: grey;
}
.inner.MORECAMBE {
stroke: grey;
}
circle.MORECAMBE {
fill: grey;
}
.inner.NEWCASTLE {
stroke: #02081F;
}
circle.NEWCASTLE {
fill: #02081F;
}
.inner.NORTHAMPTON {
stroke: grey;
}
circle.NORTHAMPTON {
fill: grey;
}
.inner.NORWICH {
stroke: #f8df00;
}
circle.NORWICH {
fill: #f8df00;
}
.inner.NOTTMFOREST {
stroke: #E91A2B;
}
circle.NOTTMFOREST {
fill: #E91A2B;
}
.inner.NOTTSCOUNTY {
stroke: grey;
}
circle.NOTTSCOUNTY {
fill: grey;
}
.inner.OLDHAM {
stroke: #213d85;
}
circle.OLDHAM {
fill: #213d85;
}
.inner.OXFORD {
stroke: grey;
}
circle.OXFORD {
fill: grey;
}
.inner.PETERBORO {
stroke: grey;
}
circle.PETERBORO {
fill: grey;
}
.inner.PLYMOUTH {
stroke: grey;
}
circle.PLYMOUTH {
fill: grey;
}
.inner.PORTSMOUTH {
stroke: #0060aa;
}
circle.PORTSMOUTH {
fill: #0060aa;
}
.inner.PORTVALE {
stroke: grey;
}
circle.PORTVALE {
fill: grey;
}
.inner.PRESTON {
stroke: grey;
}
circle.PRESTON {
fill: grey;
}
.inner.QPR {
stroke: #0054a4;
}
circle.QPR {
fill: #0054a4;
}
.inner.READING {
stroke: #0038A8;
}
circle.READING {
fill: #0038A8;
}
.inner.ROCHDALE {
stroke: grey;
}
circle.ROCHDALE {
fill: grey;
}
.inner.ROTHERHAM {
stroke: grey;
}
circle.ROTHERHAM {
fill: grey;
}
.inner.RUSHDEN&D {
stroke: grey;
}
circle.RUSHDEN&D {
fill: grey;
}
.inner.SCARBOROUGH {
stroke: grey;
}
circle.SCARBOROUGH {
fill: grey;
}
.inner.SCUNTHORPE {
stroke: grey;
}
circle.SCUNTHORPE {
fill: grey;
}
.inner.SHEFFIELDUNITED {
stroke: #cc0000;
}
circle.SHEFFIELDUNITED {
fill: #cc0000;
}
.inner.SHEFFIELDWEDS {
stroke: #005DAA;
}
circle.SHEFFIELDWEDS {
fill: #005DAA;
}
.inner.SHREWSBURY {
stroke: grey;
}
circle.SHREWSBURY {
fill: grey;
}
.inner.SOUTHAMPTON {
stroke: #d71920;
}
circle.SOUTHAMPTON {
fill: #d71920;
}
.inner.SOUTHEND {
stroke: grey;
}
circle.SOUTHEND {
fill: grey;
}
.inner.STEVENAGE {
stroke: grey;
}
circle.STEVENAGE {
fill: grey;
}
.inner.STOCKPORT {
stroke: grey;
}
circle.STOCKPORT {
fill: grey;
}
.inner.STOKE {
stroke: #D7172F;
}
circle.STOKE {
fill: #D7172F;
}
.inner.SUNDERLAND {
stroke: rgb(219, 0, 27);
}
circle.SUNDERLAND {
fill: rgb(219, 0, 27);
}
.inner.SWANSEA {
stroke: #C18E33;
}
circle.SWANSEA {
fill: #C18E33;
}
.inner.SWINDON {
stroke: #EE3424;
}
circle.SWINDON {
fill: #EE3424;
}
.inner.TORQUAY {
stroke: grey;
}
circle.TORQUAY {
fill: grey;
}
.inner.TOTTENHAM {
stroke: #051B75;
}
circle.TOTTENHAM {
fill: #051B75;
}
.inner.TRANMERE {
stroke: grey;
}
circle.TRANMERE {
fill: grey;
}
.inner.WALSALL {
stroke: grey;
}
circle.WALSALL {
fill: grey;
}
.inner.WATFORD {
stroke: #FFEE00;
}
circle.WATFORD {
fill: #FFEE00;
}
.inner.WESTBROM {
stroke: #002868;
}
circle.WESTBROM {
fill: #002868;
}
.inner.WESTHAM {
stroke: #7c1e42;
}
circle.WESTHAM {
fill: #7c1e42;
}
.inner.WIGAN {
stroke: #226ad8;
}
circle.WIGAN {
fill: #226ad8;
}
.inner.WIMBLEDON {
stroke: #0051BA;
}
circle.WIMBLEDON {
fill: #0051BA;
}
.inner.WOLVES {
stroke: #FDB913;
}
circle.WOLVES {
fill: #FDB913;
}
.inner.WREXHAM {
stroke: grey;
}
circle.WREXHAM {
fill: grey;
}
.inner.WYCOMBE {
stroke: grey;
}
circle.WYCOMBE {
fill: grey;
}
.inner.YEOVIL {
stroke: grey;
}
circle.YEOVIL {
fill: grey;
}
.inner.YORK {
stroke: grey;
}
circle.YORK {
fill: grey;
}