body {
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Trebuchet MS", sans-serif; }

.container {
    width: 940px;
    margin: 0 auto;
}


@media print {
  .page-break {
      page-break-after: always;
      margin-bottom: 0;
  }
}

  
  @media (min-width:  768px) {
      .cols { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  }
  @media (min-width: 1200px) {
      .cols { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
  }
  .thumbnails {
      margin-bottom: 20px;
  }
  .thumbnail {
      padding: 0;
      font-family: sans-serif;
      font-size: 12px;
  }
  .thumbnail:hover {
      text-decoration: none;
  }
  .thumbnail h3 {
      padding: 0 10px;
      color: #555;
      margin-top: 2em;
      font-size: 16px;
      line-height: 1;
      white-space: nowrap;
  }
  .thumbnail p {
      padding: 0 10px;
      font-family: sans-serif;
      line-height: 1.5;
      color: #222;
  }

  .demo { width:200px; height:270px; margin:0 14px 14px 0; position: relative; }
  .demo-big { width: 416px; }
  .demo-private { background-color: #eee; }
  .demo .icons { position: absolute; right: 14px; bottom: 14px; text-align: right; }
  .demo .icons .icon { margin-right: 0.75em; }
  .demo .online { color: #4f81bd; }
  .demo .video { color: #c0504d; }
  .demo .icons .icon:hover {
            transform: scale(2);
         -o-transform: scale(2);
        -ms-transform: scale(2);
       -moz-transform: scale(2);
    -webkit-transform: scale(2);
  }